<div class="container">
  <h1>Pokedex</h1>

  <select id="generation" (change)="onGenerationChange($event)">
    <option *ngFor="let g of generations" [value]="g.value">
      {{ g.label }}
    </option>
  </select>
  <div class="pokedex-wrapper">
  <div class="grid">
    <div class="card {{ p.types[0].type.name }}" *ngFor="let p of pokemonList">
      <img [src]="p.sprites?.front_default" [alt]="p.name" class="pokemon-img" />
      <h2>{{ p.id }}. {{ p.name | titlecase }}</h2>
      <p *ngIf="p.types && p.types.length">Tipo: {{ p.types[0].type.name | titlecase }}</p>
    </div>
  </div>
</div>
</div>
